/*Page*/
.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, auto);
    grid-gap: 0;
}

nav {
    grid-column: 1/-1;
    grid-row: 1;
}

header {
    grid-column: 1/-1;
    grid-row: 1;
}

section {
    grid-column: 1/-1;
    grid-row: 2/7;
}

footer {
    grid-column: 1/-1;
    grid-row: 7/13;
}

/*Products grid*/
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5vh;
    height: 100vh;
    margin-top: 0.5vw;
}

.productsitem {
    display: grid;
}

/*Popup grid*/
#popupviewproduct {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    height: auto;
}

#productname {
    grid-column: 1/-1;
    grid-row: 1;
}

#productprice {
    grid-column: 1/-1;
    grid-row: 2;
}

.popupgotoproduct {
    grid-column: 1;
    grid-row: 3;
}

.popupaddtobag {
    grid-column: 2;
    grid-row: 3;
}

/*Media query*/
@media screen and (max-width: 600px) {
    nav {
        grid-column: 1/-1;
        grid-row: 1/7;
    }

    section {
        grid-column: 1/-1;
        grid-row: 7/11;
    }

}